{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Registration Page{% endblock %}


{% block content %}
<div class="mt-5 mx-auto" style="width: 300px;">
    <div class="text-center">
        <h3 class="text-primary">Register</h3>
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
                <button
                  type="submit"
                  class="btn rounded-pill btn-md btn-primary"
                >
                    Register
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}